websites:
  - domain: www.google.com
    directory: /tmp
    file: google.html
    port: 1000
  - domain: www.instagram.com
    directory: /tmp
    file: instagram.html
    port: 2000
  - domain: web.facebook.com
    directory: /tmp
    file: facebook.html
    port: 3000
  - domain: www.twitter.com
    directory: /tmp
    file: twitter.html
    port: 4000
