<VirtualHost *:{{ item.port }}>
    ServerName {{ item.domain }}
    DocumentRoot "{{ item.directory }}"
    
    <Directory "{{ item.directory }}">
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>
</VirtualHost>
